/* Высота html и body на 100% */
html, body {
    height: 100%;
    margin: 0;
}

/* Устанавливаем flexbox для root */
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Main растягивается */
main {
    flex: 1; /* Растягивает основной контент, занимая всё доступное пространство */
}

/* Футер фиксируется внизу */
footer {
    background-color: #fff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

/* Основной контейнер */
.baseContainer {
    max-width: 1150px; /* или 1200px, в зависимости от ваших предпочтений */
    margin: 0 auto; /* Центрирует контейнер */
    padding: 0 15px; /* Добавляет отступы внутри контейнера для небольшого "воздуха" */
}

/* Дополнительные стили для body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: white;
}
