.container {
    display: flex;
    padding: 20px;
}

.filterCategory {
    width: 250px; /* Adjust as needed */
    padding-right: 20px; /* Adjust as needed */
}

.contentWrapper {
    width: calc(100% - 270px); /* Adjust as needed. Total width (100%) minus .filterCategory width and  padding */
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(3, 300px); /* This creates three columns 300px wide */
    gap: 20px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Responsive adjustment for medium screens */
@media (max-width: 960px) {
    .contentWrapper {
        flex-direction: column-reverse;
    }
}
